@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}
:root{
    --main-color-: rgb(109, 10, 222);
    --main-color-hover-: rgb(82, 8, 167);
    --color-bg-: rgb(119, 0, 255);
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*#region       NAV */
.naviguation,
.toggle{
    z-index: 100;
}
.naviguation{
    position: fixed;
    top: 20px;
    left: 20px;
    height: 400px;
    width: 70px;
    border-radius: 10px;
    box-sizing: initial;
    border-left: 5px solid var(--main-color-hover-);
    background: var(--main-color-);
    transition: all 0.5s ease-in-out;
    overflow-x: hidden;
}
.naviguation.active{
    width: 300px;
}
.naviguation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}
.naviguation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.naviguation ul li.active{
    background: #fff;
}
.naviguation ul li b:nth-child(1){
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background: #fff;
    display: none;
}
.naviguation ul li b:nth-child(1)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background-color: var(--main-color-);
}

.naviguation ul li b:nth-child(2){
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: #fff;
    display: none;
}
.naviguation ul li b:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background-color: var(--main-color-);
}
.naviguation ul li.active b:nth-child(1),
.naviguation ul li.active b:nth-child(2){
    display: block;
}



.naviguation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.naviguation ul li.active a{
    color: #333;
}
.naviguation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.naviguation ul li a .icon i{
    font-size: 1.5em;
}
.naviguation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
    width: 120px;
}

.toggle{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: var(--main-color-);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.toggle.active{
    background: var(--main-color-hover-);
}
.toggle i{
    position: absolute;
    color: #fff;
    font-size: 34px;
    display: none;
}
.toggle i.open,
.toggle.active i.close{
    display: block;
}
.toggle.active i.open,
.toggle i.close{
    display: none;
}
/* #endregion */
/*#region           Background */
.sectionHeadline{
    height: 100vh;
    width: 100vw;
    background-image: url(../img/bg.jpg);
    background-size: cover;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon{
    mix-blend-mode: screen;
}
section img#mountains_front{
    z-index: 2;
}
.textHeadline
{
    color: #fff;
    white-space: nowrap;
    font-size: 6vw;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    animation-delay: 1s;
    z-index: 3;
    padding: 3px 5%;
    overflow: hidden;
    margin-top: 20px;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
}
.textHeadline::after{
    content: '';
    height: 100%;
    width: 100%;
    background: var(--main-color-);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleX(0);
    transition-delay: 2s;
    transition: all 1s ease-in-out;
    transform-origin: left;
    border-radius: 60px;
}
@keyframes animate1 {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-40vh);
    }
    
}
#btnExplore
{
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: purple;
    font-size: 1.5em;
    z-index: 3;
    text-align: center;
    width: fit-content;
}
.sec{
    position: relative;
    padding: 100px;
    background: rgb(119, 0, 255);
}

.bg{
    position: absolute;
    display: flex;
    z-index: 2;
}
.bgBox1{
    height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
    width: 50vw;
    background: linear-gradient(blue, rgb(225, 23, 225));
    transition: all 1s ease-in-out;
}
.bgBox2{
    height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
    width: 50vw;
    background: linear-gradient(blue, rgb(225, 23, 225));
    transition: all 1s ease-in-out;
}
.bgBox1.active{
    transform: translateX(-100%);
}
.bgBox2.active{
    transform: translateX(100%);

}
.sectionHeadline.active .textHeadline{
    animation: animate1 1s forwards;
    transition: all 0.5s ease-in-out;
}
.sectionHeadline.active #btnExplore{
    display: none;
}
.sectionHeadline.active .textHeadline::after{
    transition-delay: 0.3s;
    transform: scaleX(1);
}
.aboveBg{
    width: fit-content;
    min-height: 300px;
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.behind{
    text-align: center;
    width: 70%;
}
.behind h1{
    color: #fff;
}
/* #endregion */